{# A template defining the common content for all pages #}

{% extends "_skeleton.njk" %}

{% block body %}
<div class="container">
  <header>
    <h1>BeCode / JavaScript for the Web</h1>
    <h2>
      <strong><i class="fas fa-arrow-right"></i> Insert exercise name here <i class="fas fa-arrow-left"></i></strong>
    </h2>
  </header>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
