{# The base skeleton template for all pages #}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BeCode / JavaScript for the Web Exercise</title>

    <link rel="icon" href="./_shared/img/becode-seal.png" />

    <!-- Font Awesome -->
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous">

    <link rel="stylesheet" href="./style.scss">

  </head>
  <body>
    
    {% block body %}
    {% endblock %}

    <script src="./script.js"></script>
  </body>
</html>

