
@import "./variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "./bootswatch.scss";

.carousel-item {
  img {
    max-width:100rem;
    max-height:30rem;
  }
}
#text-block1 {
  position: absolute;
  bottom: 12rem;
  right: 28rem;
  color: white;
  text-align: center;
  font-family:Courier, monospace;
  p{
    font-size:2rem;
  }
}
#text-block2 {
  position: absolute;
  bottom: 12rem;
  right: 10rem;
  color: white;
  text-align: center;
  font-family:Courier, monospace;
  p{
    font-size:2rem;
  }
}
#text-block3 {
  position: absolute;
  bottom: 12rem;
  right: 22rem;
  color: white;
  text-align: center;
  font-family:Courier, monospace;
  p{
    font-size:2rem;
  }
}
.blockquote{
  margin-top:2%;
  padding:1%;
}
.photos {
  display:flex;
  margin:7%;
}
body {
  background-color: #63678F;
}
footer {
  background-color: #272A42;
  color: white;
  margin-top:20rem;
}
.sign {
  color:darkgrey;
  font-size: 0.8rem;
}
.rights {
  font-size: 0.5rem;
}
#teamMates1 {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin:2rem;
}
#teamMates2 {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin:2rem;
}
#contact{
  max-width:70rem;
  margin-left:6rem;
}
@media screen and (max-width:600px) {
  #contact {
    margin-left:2vw;
  }
  #maps {
    max-width:80vw;
    margin-left:5vw;
  }
}
